.site-footer {
  position: relative;
  padding: 1em;
  font-family: $font__sans;
  color: #fff;
  background-color: $color__skin;
  text-align: center;

  ul {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;

    li {
      list-style-type: none;

      a {
        display: block;
        padding: 0.5em 1em;
        color: white;
        text-decoration: none;

        &:hover,
        &:active {
          text-decoration: underline;
        }
      }
    }
  }

  @media screen and (min-width: $query__small) {
    padding: 1em 2em;
  }
}
